{% extends 'ToDoApp/base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login user</title>
        <link rel="stylesheet" href="{% static 'ToDoApp/style.css' %}">
    </head>
    <body class="gradient-custom">
		{% for message in messages %}
			{% if 'nickname' in message.tags %}
			<div class="d-flex justify-content-center">			
				<div class="alert alert-danger" role="alert">
					<h5 class="fw-normal" style="letter-spacing: 1px;">{{message}}</h5>
				</div>
			</div> 
			{% endif %}
			{% if 'registration_sucess' in message.tags %}
			<p> {{message}} </p> 
			{% endif %}
		{% endfor %} 
		<div class="container py-5">
			<div class="row d-flex justify-content-center align-items-center card-vertical">
				<div class="col col-xl-10">
					<div class="card border-card" style="border-radius: 1rem;">
						<div class="row g-0">
							<div class="col-md-6 col-lg-5 d-none d-md-block">
							<img src="{% static 'ToDoApp\login-pictures.jpg' %}" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;"/>
							</div>
							<div class="col-md-6 col-lg-7 d-flex align-items-center">
								<div class="card-body p-4 p-lg-5 text-black">         
									<form action="" method="POST" >
										{% csrf_token %}          
										<div class="d-flex align-items-center mb-3 pb-1">                              
										<span class="h1 fw-bold mb-5">Assignment book</span>
										</div>          
										<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>          
										<div class="form-outline mb-4">
										{{ form.username }}
										{{ form.username.label_tag }}
										</div>          
										<div class="form-outline mb-4">                         
										{{ form.password1}}
										{{ form.password1.label_tag }}                              
										</div>         
										<div class="pt-1 mb-4">
											<button type="submit" class="btn btn-dark btn-lg btn-block ">Login</button>
										</div>          
										<a class="small text-muted" href="/password_reset">Forgot password?</a>
										<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'signupuser' %}" style="color: #393f81;">Register here</a></p>                
										<a href="#!" class="small text-muted">Terms of use.</a>
										<a href="#!" class="small text-muted">Privacy policy</a>
									</form>          
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>       
    </body>
</html>
{% endblock content %}



