{% extends 'ToDoApp/base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Profile</title>
        <link rel="stylesheet" href="{% static 'ToDoApp/style.css' %}">
    </head>
    <body class="gradient-custom">
        {% for message in messages %}
            <div class="d-flex justify-content-center">			
                <div class="alert alert-success" role="alert">
                    <h5 class="fw-normal" style="letter-spacing: 1px;">{{message}}</h5>
                </div>
            </div> 
        {% endfor %} 
        <div class="container py-5 card-vertical">
            <div class="row d-flex justify-content-center align-items-center h-100">              
                <div class="card card-padding border-card" style="border-radius: 1rem;width: 35rem;">
                    <img src="{% static 'ToDoApp\login-pictures.png' %}" alt="login form" class="card-img-top img-card-radius" height="50px"/>    
                    <div class="card-body py-5 px-md-5">
                        <div class="row g-0">                              
                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="text-center">
                                    <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle frame border-card" height="150" width="150">
                                </div>
                                <div class="d-flex justify-content-center mb-3 pb-1">                    
                                    <span class="h1 fw-bold mb-0 profil-nickname-margin">{{ user.username }}</span>
                                </div>                               
                                <hr class="line">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">                                            
                                            {{ user_update.first_name }}
                                            {{ user_update.first_name.label_tag }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">                                        
                                            {{ user_update.last_name }}
                                            {{ user_update.last_name.label_tag }}
                                        </div>
                                    </div>
                                    <div class="form-outline mb-4">                                   
                                        {{ user_update.email }}
                                        {{ user_update.email.label_tag }}
                                    </div>
                                </div>            
                                <label class="h6 form-label " for="customFile">Change profil picture</label>
                                    <input type="file" name="image" class="form-control btn button-color btn-md btn-block button-color-active shadow-sm rounded" id="id_image"/>                                
                                <div class="pt-1 mb-4 float-sm-end">
                                    <button type="submit" class="btn button-color btn-lg btn-block profil-nickname-margin button-color-active shadow-sm rounded">Update</button>
                                </div>                                                                  
                            </form>
                            <div class="row text-center">
                                <div class="pt-1 mb-4">
                                    <a href="{% url 'delete_account' user.id %}"><button type="submit" class="btn button-color btn-md btn-block button-color-active shadow-sm rounded">Delete Account</button></a>                                    
                                </div>
                            </div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
</html>
{% endblock content %}
    